body{
	border: 1px solid blue;
	font-size: 16px; /*1em*/
	margin: 0 auto;
	max-width: 1024px;
}
form{
	float: right;
	margin-right: 20px;
	margin-top: -40px;
}
form input{ /*todos los input adentor del form*/
	border-radius: 5px;
}
form input[type="button"]{

	background: green;
	color: white;
}
header{
	background: #B3D8EB;
}
header nav{
	background: #0E6CB0;
	border-radius: 5px;
	padding: 2px 0px 2px 0px;
	margin: 0 auto;
	width: 99%;
}
header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
}
#logo{
	margin-top: -150px;
}
#seccion01 article{
	text-align: center;

}
body p{
	text-align: center;
}
#seccion01 article img{
	border: 5px solid rgba(150,150,150,0.5);
}

#seccion02 article{
	display:inline-block;
	vertical-align: top;
	width: 32.8%;
}
.UnaSeccion,.OtraSeccion{
	font-weight: bold; /*negritas*/
}
.UnaSeccion{
	font-size: 4.5em;
}
.OtraSeccion{
	font-size: 2em;
}
.button{
	border-radius: 6px;
	color: blue;

}