body{
	background: white;
	margin: 0 auto;
	font-size: 16px;
	width: 1024px;

}
section{
	display: inline-block;
	vertical-align: top;
}
header{
	background: #275E90;
}
header nav ul li{
	display: inline-block;
	background: #DADEE2;
}
header nav img{
	width: 100px;
}
header nav{
	background: #DADEE2;
}
header nav ul{
	text-align: right;
	
}
#lista02{
	 list-style: none;
	 color: white;
}
#lista02 li:before{
	color: white;
	content: "</>";
   
}
#logo{
	right: -400px;
	float: center;
	position: relative;
	width: 200px;
}
#barra01{
	width: 200px;
}
#barra02{
	width: 200px;
}
#barra03{
	width: 200px;
}
#barra04{
	width: 200px;
}
#seccion01{
	border: 15px solid #EFEFEF;
	width: 25%;
	background: #EFEFEF;
}
section #art02sec01{
	background: white;
}
#seccion02{
	border: solid white;
	width: 70%;
}
#art01sec01{
	background: #1C537B;
}
#art01sec02 article{
	display: inline-block;
	width: 24%;
	text-align: center;
	margin-right: 3px;

}
#art01sec02{
	left: 10px;
    position: relative;
    float: center;
}
#art03sec02{
	left: 10px;
    position: relative;
    float: center;
    color: grey;
}
#art02sec01 form{
	background:#275E90;
	padding: 5px 0px;
}
#art02sec02{
	left: 10px;
    position: relative;
    float: center;
}
#art02sec02 img{
	width: 99%;
}
#art03sec02 article{
	display: inline-block;
	width: 24%;
	text-align: center;
	margin-right: 3px;
	background: #4B6CAB; 
	color: white;
}
#art03sec02 article img{
    width: 80%;
}
#panel{
	width: 100%;
}
#cubo1{
	background: #25A72D;
}
#cubo2{
	background: #216EA6;
}
#cubo3{
	background: #7D24A4;
}
#cubo4{
	background: #A31B1D;
}
#logoprogress{
	width: 20px;
	vertical-align: middle;
}
.Progress{
	background: #275E90;
	color: white;
	border-radius: 7px;
	vertical-align: middle;
}
.cubes{
	color: grey;
}
.panels{
	color: grey;
}
#boton{
	background: #81BFD0;
	color: white;
	border-radius: 5px;

}




