body{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
	}
header nav{
	background: #FF530D;
	color: white;
	margin:0 auto;
	border-radius: 5px;
}
header nav ul li{
	display: inline-block;
	margin-right: 20px;
	padding: 7px;
}
.mitema{
	color: grey;
	font-size: 1em;
	text-align: left;
}

body ul{
	list-style:none;
}
body form{
	float:right;
	position: relative;
}